{% extends 'base.html.twig' %}

{% block title %}Modification des patients{% endblock %}

{% block body %}


    {# Titre de la page #}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mt-30">Modification des recettes</h2>
        </div>
    </div>

    <div id="main" class="col-lg-8 col-sm-11 mx-auto main">
        {{ form_start(form, {'method': 'POST', 'attr': {'novalidate': 'novalidate' }} ) }}

        <div id="info" class="panel-collapse">
            
            {{ include('helpers/form/_group.html.twig', {
                        'field': form['name']
                    }) }}

            {{ include('helpers/form/_group.html.twig', {
                        'field': form['description']
                    }) }}

            {{ include('helpers/form/_group.html.twig', {
                        'field': form['preparationTime']
                    }) }}
                    
            {{ include('helpers/form/_group.html.twig', {
                        'field': form['break']
                    }) }}
            {{ include('helpers/form/_group.html.twig', {
                        'field': form['cooking_time']
                    }) }}
            {{ include('helpers/form/_group.html.twig', {
                        'field': form['ingredients']
                    }) }}
            {{ include('helpers/form/_group.html.twig', {
                        'field': form['steps']
                    }) }}

            {{ include('helpers/form/_group.html.twig', {
                        'field': form['dietTypes']
                    }) }}

            {{ include('helpers/form/_group.html.twig', {
                        'field': form['allergens']
                    }) }}
            
            {{ include('helpers/form/_group.html.twig', {
                        'field': form['imgFilename']
                    }) }}

            {{ include('helpers/form/_group.html.twig', {
                        'field': form['free']
                    }) }}
                    
        </div>
        <div class="row">
            {% if not form.vars.valid %}
            <div class="col-md-8 error">
                <i class="fa fa-exclamation-triangle fa-fw">
                Le formulaire contient des erreurs. Vérifiez les différentes rubriques.
            </div>
            {% else %}
                <div class="col-md-8"></div>
            {% endif %} 
            <button type="submit" class="btn">Enregistrer</button>

        </div>

        {{ form_widget(form) }}

        {{ form_end(form) }}

    </div>


{% endblock %}