{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
</style>

<div id="main" class="col-lg-8 col-sm-11 mx-auto main">
    <h1 class="mb-4">Formulaire de contact</h1>
    <div class="row no-gutters">

        {{ form_errors(formView) }}

        {{ form_start(formView) }}
            <div class="col-md-6">
                {{ form_row(formView.lastname) }}
            </div>
            <div class="col-md-6">
                {{ form_row(formView.firstname) }}
            </div>
            <div class="col-md-12">
                {{ form_row(formView.email) }}
            </div>
            <div class="col-md-12">
                {{ form_row(formView.message) }}
            </div>
            <button type="submit" class="btn">Envoyer</button>
        {{ form_end(formView) }}   
    </div> 
</div>
{% endblock %}
