{% extends 'base.html.twig' %}

{% block title %}Hello RecipesController!{% endblock %}

{% block body %}
{% if app.user %}
    {% for allergen in user.Allergens %}
            <li>{{ allergen.name|e }}</li>
    {% endfor %}
{% endif %}

<style>
    
</style>

<div class="container-fluid">
    {% if app.user %}
        <div class="row">
            <div class="col-lg-12 mt-4">
                <h1 class="page-header">Vos recettes</h1>
        </div>
        {% for recipes in recipesConnect %}  
            <div class="row">
                <div id="main" class="col-lg-3 col-sm-4 mx-auto text-center main">
                        <h2>{{ recipes.name }}</h2>            
                            <div class="gallery_product d-inline col-lg-4 col-md-6 col-12 align-baseline">
                                <a href="#" class="d-block mb-4">
                                    <img src={{ asset('uploads/imgFilename/' ~ recipes.imgFilename) }} alt="recipe" id="img-profil" class="img-fluid img-thumbnail active">
                                </a>
                            </div>    
                            <div class="d-inline align-text-top">
                                <h5>Description</h5>
                                <p>{{ recipes.description }}</p>
                                <h5>Temps de préparation</h5>
                                <p>{{ recipes.preparationTime }}</p>
                                <h5>Temps de repos</h5>
                                <p>{{ recipes.break }}</p>
                                <h5>Temps de cuisson</h5>
                                <p>{{ recipes.cookingTime }}</p>
                                <h5>Liste des ingrédients</h5>
                                <p>{{ recipes.ingredients }}</p>
                                <h5>Les étapes à suivre</h5>
                                <p>{{ recipes.steps }}</p>
                                
                            </div>
                </div>
            </div>
        {% endfor %}

    {% endif %}
    <div class="row">
        <div class="col-lg-12 mt-4">
            <h1 class="page-header">Nos recettes gratuites</h1>
        </div>
    </div>
    <div class="row">
        <div id="main" class="col-lg-3 col-sm-4 mx-auto text-center main">
                <h2>Sandrine Coupart</h2>            
                    <div class="gallery_product d-inline col-lg-4 col-md-6 col-12 align-baseline">
                        <a href="#" class="d-block mb-4">
                            <img src={{asset('media/profil.jpg')}} alt="profil" id="img-profil" class="img-fluid img-thumbnail active">
                        </a>
                    </div>    
                    <div class="d-inline align-text-top">
                        <h5>Présentation :</h5>
                        <p>« Diététicienne-nutritionniste diplômée de l'académie de Versailles et titulaire d'une licence STAPS APA-Santé, mes consultations s'adressent à tous : que vous souhaitiez adapter votre alimentation à votre pathologie, une allergie, une intolérance, un trouble des conduites alimentaires, un choix de vie ; que vous souhaitiez améliorer vos performances sportives, votre poids, votre bilan sanguin, votre confort digestif ; ou que vous souhaitiez simplement prendre soin de vous, de vos proches et de votre santé. »</p>
                        <h5>Mes diplômes et formations</h5>
                        <ul>
                            <li>Licence STAPS APA-Santé (Université Paris-Sud 2014)</li>
                            <li>B.T.S Diététique (2017)</li>
                            <li>Initiation à l'Aromathérapie (Fédération Française d'Aromathérapie 2019)</li>
                            <li>Formation Diététique du sport, Alimentation du sportif d'endurance (CFDC 2020)</li>
                            <li>Formation Diététique Psycho-comportementale (CFDC 2020)</li>
                            <li>Formation TCA, Diététique et TCC (CFDC 2020)</li>
                            <li>Formation à l'approche bio-psycho-sensorielle de l'obésité, du surpoids, et des troubles du comportement alimentaire associés (G.R.O.S 2021)</li>
                            <li>Diplôme Universitaire Alimentations végétariennes (Sorbonne Université 2022)</li>
                            <li>Formation à la thérapie d’acceptation et d’engagement (ACT) - Gestion du poids et flexibilité  psychologique (CFDC 2023)</li>
                            <li>Formation Praticien en Hypnose spécialisé en psychonutrition (CFDC 2023)</li>
                        </ul>
                        <p>Dans le but d’enrichir mes connaissances et de faire évoluer ma pratique, je me forme régulièrement à différentes approches de la diététique et de la prise en charge des patients.</p>
                    </div>
        </div>
        <div id="main" class="col-lg-3 col-sm-4 mx-auto text-center main">
                <h2>Sandrine Coupart</h2>            
                    <div class="gallery_product d-inline col-lg-4 col-md-6 col-12 align-baseline">
                        <a href="#" class="d-block mb-4">
                            <img src={{asset('media/profil.jpg')}} alt="profil" id="img-profil" class="img-fluid img-thumbnail active">
                        </a>
                    </div>    
                    <div class="d-inline align-text-top">
                        <h5>Présentation :</h5>
                        <p>« Diététicienne-nutritionniste diplômée de l'académie de Versailles et titulaire d'une licence STAPS APA-Santé, mes consultations s'adressent à tous : que vous souhaitiez adapter votre alimentation à votre pathologie, une allergie, une intolérance, un trouble des conduites alimentaires, un choix de vie ; que vous souhaitiez améliorer vos performances sportives, votre poids, votre bilan sanguin, votre confort digestif ; ou que vous souhaitiez simplement prendre soin de vous, de vos proches et de votre santé. »</p>
                        <h5>Mes diplômes et formations</h5>
                        <ul>
                            <li>Licence STAPS APA-Santé (Université Paris-Sud 2014)</li>
                            <li>B.T.S Diététique (2017)</li>
                            <li>Initiation à l'Aromathérapie (Fédération Française d'Aromathérapie 2019)</li>
                            <li>Formation Diététique du sport, Alimentation du sportif d'endurance (CFDC 2020)</li>
                            <li>Formation Diététique Psycho-comportementale (CFDC 2020)</li>
                            <li>Formation TCA, Diététique et TCC (CFDC 2020)</li>
                            <li>Formation à l'approche bio-psycho-sensorielle de l'obésité, du surpoids, et des troubles du comportement alimentaire associés (G.R.O.S 2021)</li>
                            <li>Diplôme Universitaire Alimentations végétariennes (Sorbonne Université 2022)</li>
                            <li>Formation à la thérapie d’acceptation et d’engagement (ACT) - Gestion du poids et flexibilité  psychologique (CFDC 2023)</li>
                            <li>Formation Praticien en Hypnose spécialisé en psychonutrition (CFDC 2023)</li>
                        </ul>
                        <p>Dans le but d’enrichir mes connaissances et de faire évoluer ma pratique, je me forme régulièrement à différentes approches de la diététique et de la prise en charge des patients.</p>
                    </div>
        </div>
    </div>
    </div>

{% endblock %}
