{% extends 'base.html.twig' %}

{% block title %}Hello RecipesController!{% endblock %}

{% block body %}
{% if app.user %}
    {% for allergen in user.Allergens %}
            <li>{{ allergen.name|e }}</li>
    {% endfor %}
{% endif %}

<style>
    
</style>

<div class="container-fluid">
    {% if app.user %}
        <div class="row">
            <div class="col-lg-12 mt-4">
                <h1 class="page-header">Vos recettes</h1>
        </div>
            {% for recipes in recipesPay %}  
                    <div id="main" class="col mx-auto text-center main">
                            <h2>{{ recipes.name }}</h2>            
                                <div class="gallery_product d-inline col-lg-4 col-md-6 col-12 align-baseline">
                                    <a href="#" class="d-block mb-4">
                                        <img src={{ asset('uploads/imgFilename/' ~ recipes.imgFilename) }} alt="recipe" id="img-profil" class="img-fluid img-thumbnail active">
                                    </a>
                                </div>    
                                <div class="d-inline align-text-top">
                                    <h5>Description</h5>
                                    <p>{{ recipes.description }}</p>
                                    <li class="nav-item {{ app.request.get('_route') == '_recipe' }}">
                                        <a class="nav-link" href="{{ path('_recipe', {'id': recipes.id}) }}">Voir plus</a>
                                    </li>   
                                </div>
                    </div>
            {% endfor %}
    {% endif %}
        <div class="row">
            <div class="col-lg-12 mt-4">
                <h1 class="page-header">Nos recettes gratuites</h1>
            </div>
        </div>
            {% for recipes in recipesFree %}  
                    <div id="main" class="col mx-auto text-center main">
                            <h2>{{ recipes.name }}</h2>            
                                <div class="gallery_product d-inline col-lg-4 col-md-6 col-12 align-baseline">
                                    <a href="#" class="d-block mb-4">
                                        <img src={{ asset('uploads/imgFilename/' ~ recipes.imgFilename) }} alt="recipe" id="img-profil" class="img-fluid img-thumbnail active">
                                    </a>
                                </div>    
                                <div class="d-inline align-text-top">
                                    <h5>Description</h5>
                                    <p>{{ recipes.description }}</p>
                                    <li class="nav-item {{ app.request.get('_route') == '_recipe' }}">
                                        <a class="nav-link" href="{{ path('_recipe', {'id': recipes.id}) }}">Voir plus</a>
                                    </li>   
                                </div>
                    </div>
            {% endfor %}
    </div>

{% endblock %}
